@import 'variaveis.scss';

body {
	width: 100%;
	position: relative; 
	margin: 0;  
	background-color: $branco; 
 }
 header{
 	border-bottom: 2px solid $vermelho;
 	font-family: $georgia; 
 }
 #slidesDiv{
 	.slide_img{
 		display: none;
 		&.active{
 			display:  inline;
 		} 
 	}
 	.lista_quadrados {
 		list-style-type: none; 
 	 	li{
 	 		width: 20px;
 			height: 20px;
 			border: 2px solid $vermelho;
 		}   	
 	}
 }
.contato {
	form{
		background-color: $vermelho_contato;
	}
}
footer{
	font-family: $verdana;
	font-weight: 500;  
	color: $branco; 
	background-color: $preto;
}