@import 'variaveis.scss';

body {
	width: 100%;
	position: relative; 
	margin: 0;  
	background-color: $branco; 
 }
 .container{
 	position: relative;
 	margin: 0 0;
 	top: 0; 
 	left: 0;   
 }
 header{
 	font-family: $georgia; 
 	.menu_principal{
 		li{
 			display: inline-block;
 			.sub_menu{ 
 				position: relative ;
				display: block; 
 			} 	
 		}
 	}
 }
 .esquerda {
 	float: left; 
 }
 .direita {
 	float: right; 
 }

 #slidesDiv{
 	border-top: 2px solid $vermelho;
 	.slide_img{
 		width: 100%; 
 		//display: none;
 		&.active{
 			display:  inline;
 		} 
 	}
 	.lista_quadrados {
 		list-style-type: none; 
 	 	li{ 
 	 		display: inline-block;
			width: 20px;
			height: 20px;		
 			border: 2px solid $vermelho;
 			 
 			a{
	 	 		width: 20px;
 				height: 20px;		 
 				color: $branco;	
 			}
 		}   	
 	}
 	.setas {
 		span{
 			cursor: pointer; 
 			color: $branco; 
 			background: $vermelho;
 			font-size: 80px;  
 		}
 		.seta_esquerda{
 			margin: 0 15px 0 0;
 		}
 		.seta_direita{
 			margin: 0 0 0 15px; 
 		}
 	}
 }
.contato {
	form{
		background-color: $vermelho_contato;
	}
}
footer{
	font-family: $verdana;
	font-weight: 500;  
	color: $branco; 
	background-color: $preto;
}