@import 'variaveis.scss';

body {
	width: 100%;
	position: absolute; 
	margin: 0;  
	background-color: $branco; 
	font-family: $georgia;
 }
 .container{
 	position: relative;
 	margin: 0 $lateral;
 	top: 0; 
 	left: 0;
 	> section {
 		width: 100%;
 	}
 	// }   
 }
 header{
 	font-family: $georgia; 
 	.menu_principal{
 		li{
 			display: inline-block;
 			.sub_menu{ 
 				position: relative ;
				display: block; 
 			} 	
 		}
 	}
 }

 #slidesDiv{
 	border-top: 2px solid $vermelho;
 	.slide_img{
 		width: 100%; 
 		//display: none;
 		&.active{
 			display:  inline;
 		} 
 	}
 	.lista_quadrados {
 		list-style-type: none; 
 	 	li{ 
 	 		display: inline-block;
			width: 20px;
			height: 20px;		
 			border: 2px solid $vermelho;
 			 
 			a{
	 	 		width: 20px;
 				height: 20px;		 
 				color: $branco;	
 			}
 		}   	
 	}
 	.setas {
 		span{
 			cursor: pointer; 
 			color: $branco; 
 			background: $vermelho;
 			font-size: 80px;  
 		}
 		.seta_esquerda{
 			margin: 0 15px 0 0;
 		}
 		.seta_direita{
 			margin: 0 0 0 15px; 
 		}
 	}
 }

 #editoriais{

 	display: -webkit-flex;
 	display: flex;
 	flex-direction: row;
 	flex-wrap: wrap ;
 	max-height: $editoriais_height;
 	.thumbnail{
 		margin: 55px 0 0 0;
 		width: 242px;
 		border-left: 4px solid $vermelho;
 		padding: 8px 45px 0 20px; 
 		p{
 			text-align: justify;
 		}
 		img {
 			width: 100%;
 		}
 	}
 }
.editoriais {
	&.acessadas{
		border-top: 2px dashed $cinza_tracejado;
		border-bottom: 2px dashed $cinza_tracejado;
	}
}
.mapa{
	height: 400px;
	width: 100%;
}
.contato {
	display: flex;
	.infos{	
		width: 50%;
		p{
			font-family: $verdana; 
		}
	}
	form{
		width: 50%;
		background-color: $vermelho_contato;
		h4 {
			color: $branco;
		}
		label, input, textarea{
			font-family: $verdana;	
		}
		label{
			color: $branco;
		}
		input[type=button]{
			background: $preto;
			color: $branco;
			border: none;
			font-weight: bold;
			padding: 8px 10px;
		}
	}
}
footer{
	font-family: $verdana;
	font-weight: 500;  
	color: $branco; 
	background-color: $preto;
	padding: 7px 0;
}