//Variaveis
// Fontes
$verdana: Verdana, Geneva, sans-serif; 
$georgia: Georgia, serif;
//Cores
$preto: #000;
$branco: #FFF;
$vermelho: #b22d30;
$vermelho_contato: #b22d31;
$cinza: #2c3339;
$cinza_texto: #666666;
$cinza_tracejado: #9b9da3;

//Medidas
$lateral: 207px;
$width_thumb: 277px;
$editoriais_height: 1008px;