<header class="main_header">
	<a href="index.html"><img class="logo" src="../../../../projeto/img/logo-minuto-news.jpg" alt="Minuto News Logo"></a>
	<ul class="menu_principal">
		<li><a href="index.html">Início</a></li>
		<li>
			<a class="atual" href="">Brasil&#9660; 
    			<ul class="sub_menu">

    				<!-- <li><a href="">{{itens_menu}}</a></li> -->	
    				<li><a href="#">Submenu 01</a></li>
    				<li><a href="#">Submenu 02</a></li>
    				<li><a href="#">Submenu 03</a></li>
    				<li><a href="#">Submenu 04</a></li>
    				<li><a href="#">Submenu 05</a></li>
				</ul>
			</a>
		</li>
		<li><a href="#">Mundo</a></li>
		<li><a href="#">Blogs</a></li>
		<li><a href="#">Assine</a></li>
	</ul>
</header>