        			<div class="comboboxes">
        				<label for="">Ordenar por:</label>
        				<select name="ordenar" id="ordenarData">
                            <option value="0">Data </option>
	        				<option value="1">Recente</option>
	        				<option value="2">Antiga</option>
                            <option value="3">A - Z</option>
                            <option value="4">Z - A</option>
        				</select>
						<label for="">Filtrar por:</label>
        				<select name="filtrar" id="filtrarEditoria">
	        				<option value="0">Editoria </option>
        				</select>
        			</div>